* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

p {
  margin: 5px 0 5px 0;
}

.addTargetScreenName {
  width: 28px;
  height: 28px;
  margin: 5px 0 5px 5px;
  background-color: white;
  font-size: 20px;
}
